{% extends 'base.html.twig' %}
{% import '_ui.html.twig' as ui %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>
                    {{ project.status.label }}
                </td>
                <td class="text-nowrap">
                    {{ ui.btn('Show', path('app_project_show', {id: project.id}), 'outline-secondary') }}
                    {{ ui.btn('Edit', path('app_project_edit', {id: project.id}), 'primary') }}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ ui.btn('Create new', path('app_project_new'), 'success') }}

{% endblock %}
